parameters:
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/src/PHPUnit/PHPUnitExtension.php
        - %currentWorkingDirectory%/src/Doctrine/DBAL/StaticDriver.php
        - %currentWorkingDirectory%/src/Doctrine/DBAL/StaticConnection.php
        - %currentWorkingDirectory%/tests/Doctrine/DBAL/MockDriver.php
